<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Register a new user</title>

    <!-- Favicons -->
    <link href="{{ asset(htmlAdmin ~ 'assets/img/favicon.png') }}" rel="icon">
    <link href="{{ asset(htmlAdmin ~ 'assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ asset(htmlAdmin ~ 'assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset(htmlAdmin ~ 'assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{{ asset(htmlAdmin ~ 'assets/css/style.css') }}" rel="stylesheet">

</head>

<body>

<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="#" class="logo d-flex align-items-center w-auto">
                                <img src="{{ asset(htmlAdmin ~ 'assets/img/logo.png') }}" alt="">
                            </a>
                        </div>

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">{% trans from 'signup' %}Create an Account{% endtrans %}</h5>
                                    <p class="text-center small">{% trans from 'signup' %}Enter your personal details to create account{% endtrans %}</p>
                                </div>

                                {{ form_start(form) }}
                                    <div class="col-12">
                                        <label for="{{ form.name.vars.id }}">{% trans from 'signup' %}Name{% endtrans %}</label>
                                       {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
                                       {{ form_errors(form.name) }}
                                    </div>

                                    <div class="col-12">
                                        <label for="{{ form.username.vars.id }}">{% trans from 'signup' %}Username{% endtrans %}</label>
                                        {{ form_widget(form.username,{'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(form.username) }}
                                    </div>

                                    <div class="col-12">
                                        <label for="{{ form.email.vars.id }}">{% trans from 'signup' %}Email{% endtrans %}</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>

                                            {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="{{ form.password.vars.id }}">{% trans from 'signup' %}Password{% endtrans %}</label>
                                        {{ form_widget(form.password,{'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(form.password) }}
                                    </div>

                                    <div class="col-12 mt-5">
                                        <div class="form-check">
                                            <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                                            <label class="form-check-label" for="acceptTerms">{% trans from 'signup' %}I agree and accept the terms and conditions{% endtrans %}</label>
                                            <div class="invalid-feedback">{% trans from 'signup' %}You must agree before submitting.{% endtrans %}</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">{% trans from 'signup' %}Create Account{% endtrans %}</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Already have an account? <a href="{{ path('app_login') }}">Log in</a></p>
                                    </div>
                                {{ form_end(form) }}

                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{{ asset(htmlAdmin ~ 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>


<!-- Template Main JS File -->
<script src="{{ asset(htmlAdmin ~ 'assets/js/main.js') }}"></script>

</body>

</html>