{% extends 'base.html.twig' %}

{% block section %}
    <section class="section dashboard">
    <div class="row">

    <div class="col-12">
        <span>Hola, <b>{{ app.user.email|get_user_name }}</b> Hoy es {{ get_user_greetings("now"|date('Y-m-d H:i:s')) }}</b> </span>
    </div>
    <table class="table datatable" id="beers">
        <thead>
        <tr>
            <th>{% trans from 'beers' %}Identificator{% endtrans %}</th>
            <th>{% trans from 'beers' %}Name{% endtrans %}</th>
            <th>{% trans from 'beers' %}Image{% endtrans %}</th>
            <th>{% trans from 'beers' %}Description{% endtrans %}</th>
            <th>{% trans from 'beers' %}TagLine{% endtrans %}</th>
            <th>{% trans from 'beers' %}First Brewed{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>

        {% for beer in beers %}
            <tr>
                <td>{{ beer.id }}</td>
                <td>{{ beer.name }}</td>
                <td><img src="{{ beer.imageUrl }}" alt="" style="width: 32px;"></td>
                <td>{{ beer.description }}</td>
                <td>{{ beer.tagline }}</td>
                <td>{{ beer.firstbrewed }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    </div>
    </section>
{% endblock %}