{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#clientes').DataTable({
                ajax: '{{ path('personal_clientes_listado_ajax') }}',
                processing: true,
                serverSide: true
            });

            // $('#clientes').DataTable(); renderizado normal
        } );
    </script>
{% endblock %}
{% block body %}
<table style="border: 1px;background-color: burlywood" id="clientes">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nif</th>
            <th>Nombre</th>
            <th>Persona Contacto</th>

            <th>Created At</th>
            <th>Updated At</th>
        </tr>
    </thead>
    <tbody>

            {% for cliente in clientes %}
            <tr>
                <td><b>{{ cliente.id }}</b></td>
                <td>{{ cliente.nif }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.personaContacto }}</td>
                <td>{{ cliente.createdAt|date }}</td>
                <td>{{ cliente.updatedAt|date }}</td>
            </tr>
            {% endfor %}

    </tbody>
</table>

{% endblock %}